In [146]:
import importlib
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta

In [147]:
import PrjtCF_module as cf

# Outline
* 호텔, 골프장 등 개발 후 운영 사업(분양을 하지 않는 사업)의 개발단계 재무모델
* PF대출을 통해 토지비 및 공사비 등 개발사업 자금을 조달
* 금융비용은 PF대출금으로 충당
* 준공 후 담보대출금으로 상환 가정
* PF대출금은 필요에 따라 한도대로 인출

# Input Index Data

In [148]:
# 기간 index 설정
# prjt index : 사업기간 전 기간에 대한 index로 모델의 base가 되는 index
# cstrn index : 공사기간에 대한 index로 착공일로부터 준공일 까지의 기간에 대한 index
# loan index : 대출 기간에 대한 index로 대출 실행일로부터 대출 상환일 까지의 기간에 대한 index
idx = cf.PrjtIndex(idxname=['prjt', 'cstrn', 'loan'],
                   start=['2021-08', '2021-10', '2021-10'],
                   periods=[24+1, 18+1, 20+1],
                   freq='M')

# 공정률 index 설정 : cstrn index 기간 중 적용되는 공정률을 설정
idx.prcs = Series(np.ones(len(idx.cstrn)) / len(idx.cstrn),
                  index=idx.cstrn.index)

# Input Financing Data

In [149]:
equity = cf.Loan(idx, amt_ntnl=10_000)

loan = cf.Loan(idx.loan, amt_ntnl=60_000, 
               rate_fee=0.02, rate_IR=0.06)

# Input Cost Data

In [150]:
dct_cost = {}

# 토지비: 최초 1회 지급
lnd = cf.Account(idx)
lnd.addscdd(idx.cstrn[0], 10_000)
dct_cost['lnd'] = lnd

# 공사비: 공정률에 따라 지급
cstrn = cf.Account(idx)
cstrn.addscdd(idx.cstrn.index, 50_000 * idx.prcs)
dct_cost['cstrn'] = cstrn

cost = cf.Merge(dct_cost)

# Execution Cash Flow

### 1) 실행함수 설정

In [151]:
# Make accounts : 운영현금흐름의 입출을 위한 운영계좌 개설
oprtg = cf.Account(idx)

In [152]:
# Inflow of cash
def inflow_cash(idxno, exptdcst):
    # deposit equity amount
    equity.ntnl.send(idxno, equity.ntnl.sub_scdd[idxno], oprtg)
    
    # deposit loan notional amount
    if idxno in idx.loan.index:
        # 예상 지출금액을 인자로 받아 운영계좌 잔액과 비교하여 필요한 조달금액을 추정
        exptdinflw = max(exptdcst - oprtg.bal_end[idxno], 0)
        
        # 필요 조달금액을 잔여 대출금 한도와 비교하여 실제 조달되는 금액 계산
        amtinflw = min(loan.ntnl.sub_rsdl_cum[idxno], exptdinflw)
        
        # 조달금액, 운영계좌에 입금 처리
        loan.ntnl.send(idxno, amtinflw, oprtg)

In [153]:
# Outflow of cash
def outflow_cash(idxno):
    # 운영계좌에서 토지비 지출
    oprtg.send(idxno, cost['lnd'].add_scdd[idxno], cost['lnd'])
    
    # 운영계좌에서 공사비 지출
    oprtg.send(idxno, cost['cstrn'].add_scdd[idxno], cost['cstrn'])

In [154]:
# Pay financial cost
def pay_fnclcst(idxno):
    if idxno in idx.loan.index:
        # 운영계좌에서 대출금 수수료 지출
        oprtg.send(idxno, loan.fee.add_scdd[idxno], loan.fee)
        
        # 이자계산기간 동안의 이자금액 계산 후 운영계좌에서 이자금액 지출
        exptdIR = -loan.ntnl.bal_strt[idxno] * loan.IR.rate
        oprtg.send(idxno, exptdIR, loan.IR)

In [155]:
# Calculate expected cost amount
def exptdcst(idxno): # 해당 인덱스 기간 중 지출 필요한 금액 반환 함수
    ttlamt = 0
    
    # cost계좌 상 지출 예정되어 있는 금액(add_scdd) 추가
    ttlamt += cost.add_scdd[idxno]
    
    # loan계좌 상 지출 예정되어 있는 금액(add_scdd) 추가
    if idxno in idx.loan.index:
        ttlamt += loan.dctmrg.add_scdd[idxno]
        
    return ttlamt

In [156]:
# Repay notional amount
def repay_ntnl(idxno):
    if idxno in idx.loan.index:
        # loan계좌 상 상환예정금액(add_rsdl_cum)과 인출잔액(bal_end) 고려하여 상환금액 계산 후 
        # 운영계좌에서 상환금액 인출
        exptdrpy = min(loan.ntnl.add_rsdl_cum[idxno], -loan.ntnl.bal_end[idxno])
        oprtg.send(idxno, exptdrpy, loan.ntnl)

### 2) Cash Flow 실행

In [157]:
# Execute cash flow
for idxno in idx.index:
    # 필요지출금액을 인자로 받아, 조달금액 계산 후 운영계좌 입금
    inflow_cash(idxno, exptdcst(idxno))
    
    # 운영계좌에서 토지비, 공사비 등 각종 비용 지출
    outflow_cash(idxno)
    
    # 운영계좌에서 각종 금융비용 지출
    pay_fnclcst(idxno)
    
    # 운영계좌에서 대출금 상환
    repay_ntnl(idxno)

In [158]:
# Merge Accounts
dct_acc = {'equity':equity,
           'loan_ntnl':loan.ntnl,
           'loan_fee':loan.fee,
           'loan_IR':loan.IR,
           'cost_lnd':cost['lnd'],
           'cost_cstrn':cost['cstrn'],
           'oprtg':oprtg}
acc_merge = cf.Merge(dct_acc)

# Print Result

In [159]:
rslt_df = DataFrame({('equity.ntnl', 'amt_sub'):equity.ntnl.amt_sub[:],
                     ('loan.ntnl', 'amt_sub'):loan.ntnl.amt_sub[:],
                     ('loan.ntnl', 'amt_add'):loan.ntnl.amt_add[:],
                     ('loan.ntnl', 'bal_end'):loan.ntnl.bal_end[:],
                     ('loan.fee', 'amt_add'):loan.fee.amt_add[:],
                     ('loan.IR', 'amt_add'):loan.IR.amt_add[:],
                     ('cost_lnd', 'amt_add'):cost['lnd'].amt_add[:],
                     ('cost_cstrn', 'amt_add'):cost['cstrn'].amt_add[:],
                     ('oprtg', 'amt_add'):oprtg.amt_add[:],
                     ('oprtg', 'amt_sub'):oprtg.amt_sub[:],
                     ('oprtg', 'bal_end'):oprtg.bal_end[:]})
rslt_df.fillna(0)

           equity.ntnl    loan.ntnl                        loan.fee  \
               amt_sub      amt_sub  amt_add       bal_end  amt_add
2021-08-31     10000.0     0.000000      0.0      0.000000      0.0
2021-09-30         0.0     0.000000      0.0      0.000000      0.0
2021-10-31         0.0  3831.578947      0.0  -3831.578947   1200.0
2021-11-30         0.0  2931.578947      0.0  -6763.157895      0.0
2021-12-31         0.0  2650.736842      0.0  -9413.894737      0.0
2022-01-31         0.0  2665.394737      0.0 -12079.289474      0.0
2022-02-28         0.0  2678.648421      0.0 -14757.937895      0.0
2022-03-31         0.0  2691.975395      0.0 -17449.913289      0.0
2022-04-30         0.0  2705.368637      0.0 -20155.281926      0.0
2022-05-31         0.0  2718.828514      0.0 -22874.110440      0.0
2022-06-30         0.0  2732.355357      0.0 -25606.465797      0.0
2022-07-31         0.0  2745.949500      0.0 -28352.415297      0.0
2022-08-31         0.0  2759.611276      0.0 -31112.026573      0.0
2022-09-30         0.0  2773.341024      0.0 -33885.367597      0.0
2022-10-31         0.0  2787.139080      0.0 -36672.506677      0.0
2022-11-30         0.0  2801.005785      0.0 -39473.512462      0.0
2022-12-31         0.0  2814.941481      0.0 -42288.453943      0.0
2023-01-31         0.0  2828.946510      0.0 -45117.400453      0.0
2023-02-28         0.0  2843.021217      0.0 -47960.421670      0.0
2023-03-31         0.0  2857.165950      0.0 -50817.587620      0.0
2023-04-30         0.0  2871.381056      0.0 -53688.968675      0.0
2023-05-31         0.0   254.087938      0.0 -53943.056613      0.0
2023-06-30         0.0  6056.943387  60000.0      0.000000      0.0
2023-07-31         0.0     0.000000      0.0      0.000000      0.0
2023-08-31         0.0     0.000000      0.0      0.000000      0.0

               loan.IR cost_lnd   cost_cstrn         oprtg                \
               amt_add  amt_add      amt_add       amt_add       amt_sub
2021-08-31    0.000000      0.0     0.000000  10000.000000      0.000000
2021-09-30    0.000000      0.0     0.000000      0.000000      0.000000
2021-10-31    0.000000  10000.0  2631.578947   3831.578947  13831.578947
2021-11-30   19.157895      0.0  2631.578947   2931.578947   2650.736842
2021-12-31   33.815789      0.0  2631.578947   2650.736842   2665.394737
2022-01-31   47.069474      0.0  2631.578947   2665.394737   2678.648421
2022-02-28   60.396447      0.0  2631.578947   2678.648421   2691.975395
2022-03-31   73.789689      0.0  2631.578947   2691.975395   2705.368637
2022-04-30   87.249566      0.0  2631.578947   2705.368637   2718.828514
2022-05-31  100.776410      0.0  2631.578947   2718.828514   2732.355357
2022-06-30  114.370552      0.0  2631.578947   2732.355357   2745.949500
2022-07-31  128.032329      0.0  2631.578947   2745.949500   2759.611276
2022-08-31  141.762076      0.0  2631.578947   2759.611276   2773.341024
2022-09-30  155.560133      0.0  2631.578947   2773.341024   2787.139080
2022-10-31  169.426838      0.0  2631.578947   2787.139080   2801.005785
2022-11-30  183.362533      0.0  2631.578947   2801.005785   2814.941481
2022-12-31  197.367562      0.0  2631.578947   2814.941481   2828.946510
2023-01-31  211.442270      0.0  2631.578947   2828.946510   2843.021217
2023-02-28  225.587002      0.0  2631.578947   2843.021217   2857.165950
2023-03-31  239.802108      0.0  2631.578947   2857.165950   2871.381056
2023-04-30  254.087938      0.0  2631.578947   2871.381056   2885.666885
2023-05-31  268.444843      0.0     0.000000    254.087938    268.444843
2023-06-30  269.715283      0.0     0.000000   6056.943387  60269.715283
2023-07-31    0.000000      0.0     0.000000      0.000000      0.000000
2023-08-31    0.000000      0.0     0.000000      0.000000      0.000000


                 bal_end
2021-08-31  10000.000000
2021-09-30  10000.000000
2021-10-31      0.000000
2021-11-30    280.842105
2021-12-31    266.184211
2022-01-31    252.930526
2022-02-28    239.603553
2022-03-31    226.210311
2022-04-30    212.750434
2022-05-31    199.223590
2022-06-30    185.629448
2022-07-31    171.967671
2022-08-31    158.237924
2022-09-30    144.439867
2022-10-31    130.573162
2022-11-30    116.637467
2022-12-31    102.632438
2023-01-31     88.557730
2023-02-28     74.412998
2023-03-31     60.197892
2023-04-30     45.912062
2023-05-31     31.555157
2023-06-30 -54181.216740
2023-07-31 -54181.216740
2023-08-31 -54181.216740

In [160]:
loan.ntnl.df

,add_scdd,sub_scdd,bal_strt,amt_add,amt_sub,bal_end
2021-10-31,0.0,60000.0,0.000000,0.0,3831.578947,-3831.578947
2021-11-30,0.0,0.0,-3831.578947,0.0,2931.578947,-6763.157895
2021-12-31,0.0,0.0,-6763.157895,0.0,2650.736842,-9413.894737
2022-01-31,0.0,0.0,-9413.894737,0.0,2665.394737,-12079.289474
2022-02-28,0.0,0.0,-12079.289474,0.0,2678.648421,-14757.937895
2022-03-31,0.0,0.0,-14757.937895,0.0,2691.975395,-17449.913289
2022-04-30,0.0,0.0,-17449.913289,0.0,2705.368637,-20155.281926
2022-05-31,0.0,0.0,-20155.281926,0.0,2718.828514,-22874.110440
2022-06-30,0.0,0.0,-22874.110440,0.0,2732.355357,-25606.465797
2022-07-31,0.0,0.0,-25606.465797,0.0,2745.949500,-28352.415297
2022-08-31,0.0,0.0,-28352.415297,0.0,2759.611276,-31112.026573
2022-09-30,0.0,0.0,-31112.026573,0.0,2773.341024,-33885.367597
2022-10-31,0.0,0.0,-33885.367597,0.0,2787.139080,-36672.506677
2022-11-30,0.0,0.0,-36672.506677,0.0,2801.005785,-39473.512462
2022-12-31,0.0,0.0,-39473.512462,0.0,2814.941481,-42288.453943
2023-01-31,0.0,0.0,-42288.453943,0.0,2828.946510,-45117.400453
2023-02-28,0.0,0.0,-45117.400453,0.0,2843.021217,-47960.421670
2023-03-31,0.0,0.0,-47960.421670,0.0,2857.165950,-50817.587620
2023-04-30,0.0,0.0,-50817.587620,0.0,2871.381056,-53688.968675
2023-05-31,0.0,0.0,-53688.968675,0.0,254.087938,-53943.056613
2023-06-30,60000.0,0.0,-53943.056613,60000.0,6056.943387,0.000000