In [23]:
import importlib
import pandas as pd
from pandas import Series, DataFrame
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta

In [24]:
import PrjtCF_module as cf

# Outline
* 호텔, 골프장 등 개발 후 운영 사업(분양을 하지 않는 사업)의 개발단계 재무모델
* PF대출을 통해 토지비 및 공사비 등 개발사업 자금을 조달
* 금융비용은 PF대출금으로 충당
* 준공 후 담보대출금으로 상환 가정
* PF대출금은 필요에 따라 한도대로 인출
* PF대출금의 조달을 Tranche A, Tranche B 두개의 Tranche로 구분하여 조달하며, Tranche A는 Tranche B에 대하여 선순위 상환 받음.
* 기존 작성한 Cash Flow 모델에서 추가적으로 index 설정을 loan에 대해서도 동일한 기준을 적용.
  - loan index는 별도 금융조건 계산에만 적용

# Input Index Data

In [25]:
# 기간 index 설정
# prjt index : 사업기간 전 기간에 대한 index로 모델의 base가 되는 index
# cstrn index : 공사기간에 대한 index로 착공일로부터 준공일 까지의 기간에 대한 index
# loan index : 대출기간에 대한 index로 대출 실행일로부터 대출 상환일 까지의 기간에 대한 index
idx = cf.PrjtIndex(idxname=['prjt', 'cstrn', 'loan'],
                   start=['2021-08', '2021-10', '2021-10'],
                   periods=[24+1, 18+1, 20+1],
                   freq='M')

# 공정률 index 설정 : cstrn index 기간 중 적용되는 공정률을 설정
idx.prcs = Series(np.ones(len(idx.cstrn)) / len(idx.cstrn),
                  index=idx.cstrn.index)

# Input Financing Data

In [26]:
equity = cf.Loan(idx, idx, amt_ntnl=10_000)

tra = cf.Loan(idx, idx.loan, amt_ntnl=40_000,
              rate_fee=0.01, rate_IR=0.05)
trb = cf.Loan(idx, idx.loan, amt_ntnl=20_000,
              rate_fee=0.03, rate_IR=0.07)

# Input Cost Data

In [27]:
dct_cost = {}

# 토지비: 최초 1회 지급
lnd = cf.Account(idx)
lnd.addscdd(idx.cstrn[0], 10_000)
dct_cost['lnd'] = lnd

# 공사비: 공정률에 따라 지급
cstrn = cf.Account(idx)
cstrn.addscdd(idx.cstrn.index, 50_000 * idx.prcs)
dct_cost['cstrn'] = cstrn

cost = cf.Merge(dct_cost)

# Execution Cash Flow

### 1) 사전 계산

In [28]:
# Make accounts
oprtg = cf.Account(idx) # 운영현금흐름의 입출을 위한 운영계좌
rpyacc = cf.Account(idx) # 상환자금 관리를 위한 대출금 상환계좌

In [29]:
# Calculate expected financial cost
class exptdcst:
    def __init__(self, idxno):
        self.idxno = idxno
        
        # 해당 인덱스 기간 중 cost계좌 상 지출 필요한 금액
        self.cstamt = cost.add_scdd[idxno]
        
        # 해당 인덱스 기간 중 loan계좌 상 지출 필요한 수수료 금액
        self.trafee = tra.fee.add_scdd[idxno]
        self.trbfee = trb.fee.add_scdd[idxno]
        
        # 해당 인덱스 기간 중 loan계좌 상 지출 필요한 이자 금액
        self.traIR = -tra.ntnl.bal_strt[idxno] * tra.IR.rate
        self.trbIR = -trb.ntnl.bal_strt[idxno] * trb.IR.rate
        
    @property
    def ttlcst(self):
        self.ttlsum = self.cstamt
        self.ttlsum = (self.ttlsum +
                       self.trafee + self.trbfee +
                       self.traIR + self.trbIR)
        return self.ttlsum

In [30]:
# Calculate expected repayment of loan
class exptdrpy:
    def __init__(self, idxno):
        self.idxno = idxno
        
        # 해당 인덱스 기간 중 상환 요구 금액
        self.trarpy = min(tra.ntnl.add_rsdl_cum[idxno], -tra.ntnl.bal_end[idxno])
        self.trbrpy = min(trb.ntnl.add_rsdl_cum[idxno], -trb.ntnl.bal_end[idxno])
    
    @property
    def ttlrpy(self):
        self.ttlsum = self.trarpy + self.trbrpy
        return self.ttlsum

### 2) 실행함수 설정

In [31]:
# Inflow of cash
def inflow_cash(idxno, exptdcst):
    # deposit equity amount
    equity.ntnl.send(idxno, equity.ntnl.sub_scdd[idxno], oprtg)
    
    #### deposit loan notional amount ####
    if idxno in idx.loan:
        # Expected inflow amount: 예상 지출금액을 인자로 받아 운영계좌 잔액과 비교하여 필요한 조달금액을 추정
        exptdinflw = max(exptdcst.ttlcst - oprtg.bal_end[idxno], 0)
    
        # Tr.B: 필요 조달금액을 잔여 대출금 한도와 비교하여 실제 조달되는 금액 계산
        tmpinflw = min(trb.ntnl.sub_rsdl_cum[idxno], exptdinflw)
        trb.ntnl.send(idxno, tmpinflw, oprtg) # 운영계좌 입금 처리
        amtinflw = tmpinflw
        exptdinflw -= tmpinflw
        
        # Tr.A: 필요 조달금액을 잔여 대출금 한도와 비교하여 실제 조달되는 금액 계산
        tmpinflw = min(tra.ntnl.sub_rsdl_cum[idxno], exptdinflw)
        tra.ntnl.send(idxno, tmpinflw, oprtg) # 운영계좌 입금 처리
        amtinflw += tmpinflw
        exptdinflw -= tmpinflw

In [32]:
# Outflow of cash
def outflow_cash(idxno):
    # 운영계좌에서 토지비 지출
    oprtg.send(idxno, cost['lnd'].add_scdd[idxno], cost['lnd'])
    
    # 운영계좌에서 공사비 지출
    oprtg.send(idxno, cost['cstrn'].add_scdd[idxno], cost['cstrn'])

In [33]:
# Pay financial cost
def pay_fnclcst(idxno, exptdcst):
    # 운영계좌에서 대출금 수수료 지출
    oprtg.send(idxno, exptdcst.trafee, tra.fee)
    oprtg.send(idxno, exptdcst.trbfee, trb.fee)
        
    # 운영계좌에서 이자금액 지출
    oprtg.send(idxno, exptdcst.traIR, tra.IR)
    oprtg.send(idxno, exptdcst.trbIR, trb.IR)

In [34]:
# Transfer amount to repayment account
def trsf_rpy(idxno, exptdrpy):
    # 상환계좌로 이체할 금액 계산
    rpy_amt = exptdrpy.ttlrpy
    
    # 상환계좌로 이체
    oprtg.send(idxno, rpy_amt, rpyacc)

In [35]:
# Repay notional amount
def repay_ntnl(idxno, exptdrpy):
    # 상환계좌에서 순서에 따라 상환금 인출
    rpyacc.send(idxno, exptdrpy.trarpy, tra.ntnl)
    rpyacc.send(idxno, exptdrpy.trbrpy, trb.ntnl)

### 3) Cash Flow 실행

In [36]:
# Execute cash flow
for idxno in idx.index:
    # 해당 인덱스 기간 중 지출 필요한 cost 및 금융비용 계산(instance class 생성)
    cst_exptd = exptdcst(idxno)
    
    # 필요지출금액을 인자로 받아, 조달금액 계산 후 운영계좌 입금
    inflow_cash(idxno, cst_exptd)
    
    # 운영계좌에서 토지비, 공사비 등 각종 비용 지출
    outflow_cash(idxno)
    
    # 운영계좌에서 각종 금융비용 지출
    pay_fnclcst(idxno, cst_exptd)
    
    # 해당 인덱스 기간 중 상환 필요한 자금 규모 계산(instance class 생성)
    rpy_exptd = exptdrpy(idxno)
    
    # 상환 예정 금액을 상환계좌로 이체
    trsf_rpy(idxno, rpy_exptd)
    
    # 상환계좌에서 순서에 따라 상환금 인출
    repay_ntnl(idxno, rpy_exptd)

In [37]:
# Merge Accounts
dct_acc = {'equity':equity,
           'tra_ntnl':tra.ntnl,
           'tra_fee':tra.fee,
           'tra_IR':tra.IR,
           'trb_ntnl':trb.ntnl,
           'trb_fee':trb.fee,
           'trb_IR':trb.IR,
           'cost_lnd':cost['lnd'],
           'cost_cstrn':cost['cstrn'],
           'oprtg':oprtg}
acc_merge = cf.Merge(dct_acc)

In [38]:
# 현금흐름 종합
rslt_df = DataFrame({('equity.ntnl', 'amt_sub'):equity.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_sub'):tra.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_add'):tra.ntnl.amt_add[:],
                     ('tra.ntnl', 'bal_end'):tra.ntnl.bal_end[:],
                     ('tra.fee', 'amt_add'):tra.fee.amt_add[:],
                     ('tra.IR', 'amt_add'):tra.IR.amt_add[:],
                     ('trb.ntnl', 'amt_sub'):trb.ntnl.amt_sub[:],
                     ('trb.ntnl', 'amt_add'):trb.ntnl.amt_add[:],
                     ('trb.ntnl', 'bal_end'):trb.ntnl.bal_end[:],
                     ('trb.fee', 'amt_add'):trb.fee.amt_add[:],
                     ('trb.IR', 'amt_add'):trb.IR.amt_add[:],
                     ('cost_lnd', 'amt_add'):cost['lnd'].amt_add[:],
                     ('cost_cstrn', 'amt_add'):cost['cstrn'].amt_add[:],
                     ('oprtg', 'amt_add'):oprtg.amt_add[:],
                     ('oprtg', 'amt_sub'):oprtg.amt_sub[:],
                     ('oprtg', 'bal_end'):oprtg.bal_end[:]})
rslt_df.fillna(0).applymap(lambda x: f"{x:,.0f}")

           equity.ntnl tra.ntnl                  tra.fee  tra.IR trb.ntnl  \
               amt_sub  amt_sub amt_add  bal_end amt_add amt_add  amt_sub
2021-08-31      10,000        0       0        0       0       0        0
2021-09-30           0        0       0        0       0       0        0
2021-10-31           0        0       0        0     400       0    3,632
2021-11-30           0        0       0        0       0       0    2,653
2021-12-31           0        0       0        0       0       0    2,668
2022-01-31           0        0       0        0       0       0    2,684
2022-02-28           0        0       0        0       0       0    2,699
2022-03-31           0        0       0        0       0       0    2,715
2022-04-30           0        0       0        0       0       0    2,731
2022-05-31           0    2,529       0   -2,529       0       0      218
2022-06-30           0    2,759       0   -5,288       0      11        0
2022-07-31           0    2,770       0   -8,058       0      22        0
2022-08-31           0    2,782       0  -10,840       0      34        0
2022-09-30           0    2,793       0  -13,633       0      45        0
2022-10-31           0    2,805       0  -16,438       0      57        0
2022-11-30           0    2,817       0  -19,255       0      68        0
2022-12-31           0    2,828       0  -22,084       0      80        0
2023-01-31           0    2,840       0  -24,924       0      92        0
2023-02-28           0    2,852       0  -27,776       0     104        0
2023-03-31           0    2,864       0  -30,640       0     116        0
2023-04-30           0    2,876       0  -33,516       0     128        0
2023-05-31           0      256       0  -33,772       0     140        0
2023-06-30           0      257  34,030       -0       0     141        0
2023-07-31           0        0       0        0       0       0        0
2023-08-31           0        0       0        0       0       0        0

                            trb.fee  trb.IR cost_lnd cost_cstrn   oprtg  \
           amt_add  bal_end amt_add amt_add  amt_add    amt_add amt_add
2021-08-31       0        0       0       0        0          0  10,000
2021-09-30       0        0       0       0        0          0       0
2021-10-31       0   -3,632     600       0   10,000      2,632   3,632
2021-11-30       0   -6,284       0      21        0      2,632   2,653
2021-12-31       0   -8,953       0      37        0      2,632   2,668
2022-01-31       0  -11,636       0      52        0      2,632   2,684
2022-02-28       0  -14,336       0      68        0      2,632   2,699
2022-03-31       0  -17,051       0      84        0      2,632   2,715
2022-04-30       0  -19,782       0      99        0      2,632   2,731
2022-05-31       0  -20,000       0     115        0      2,632   2,747
2022-06-30       0  -20,000       0     117        0      2,632   2,759
2022-07-31       0  -20,000       0     117        0      2,632   2,770
2022-08-31       0  -20,000       0     117        0      2,632   2,782
2022-09-30       0  -20,000       0     117        0      2,632   2,793
2022-10-31       0  -20,000       0     117        0      2,632   2,805
2022-11-30       0  -20,000       0     117        0      2,632   2,817
2022-12-31       0  -20,000       0     117        0      2,632   2,828
2023-01-31       0  -20,000       0     117        0      2,632   2,840
2023-02-28       0  -20,000       0     117        0      2,632   2,852
2023-03-31       0  -20,000       0     117        0      2,632   2,864
2023-04-30       0  -20,000       0     117        0      2,632   2,876
2023-05-31       0  -20,000       0     117        0          0     256
2023-06-30  20,000        0       0     117        0          0     257
2023-07-31       0        0       0       0        0          0       0
2023-08-31       0        0       0       0        0          0       0


           amt_sub  bal_end
2021-08-31       0   10,000
2021-09-30       0   10,000
2021-10-31  13,632        0
2021-11-30   2,653        0
2021-12-31   2,668        0
2022-01-31   2,684        0
2022-02-28   2,699        0
2022-03-31   2,715        0
2022-04-30   2,731        0
2022-05-31   2,747        0
2022-06-30   2,759        0
2022-07-31   2,770        0
2022-08-31   2,782        0
2022-09-30   2,793        0
2022-10-31   2,805        0
2022-11-30   2,817        0
2022-12-31   2,828        0
2023-01-31   2,840        0
2023-02-28   2,852        0
2023-03-31   2,864        0
2023-04-30   2,876        0
2023-05-31     256        0
2023-06-30  54,287  -54,030
2023-07-31       0  -54,030
2023-08-31       0  -54,030

In [39]:
# 현금흐름 요약
rslt_df = DataFrame({('equity.ntnl', 'amt_sub'):equity.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_sub'):tra.ntnl.amt_sub[:],
                     ('tra.ntnl', 'amt_add'):tra.ntnl.amt_add[:],
                     ('tra.fee', 'amt_add'):tra.fee.amt_add[:],
                     ('tra.IR', 'amt_add'):tra.IR.amt_add[:],
                     ('trb.ntnl', 'amt_sub'):trb.ntnl.amt_sub[:],
                     ('trb.ntnl', 'amt_add'):trb.ntnl.amt_add[:],
                     ('trb.fee', 'amt_add'):trb.fee.amt_add[:],
                     ('trb.IR', 'amt_add'):trb.IR.amt_add[:],
                     ('cost_lnd', 'amt_add'):cost['lnd'].amt_add[:],
                     ('cost_cstrn', 'amt_add'):cost['cstrn'].amt_add[:],
                     ('oprtg', 'amt_add'):oprtg.amt_add[:],
                     ('oprtg', 'amt_sub'):oprtg.amt_sub[:],
                     ('oprtg', 'bal_end'):oprtg.bal_end[:]})
rslt_df.fillna(0).applymap(lambda x: f"{x:,.0f}")

           equity.ntnl tra.ntnl         tra.fee  tra.IR trb.ntnl          \
               amt_sub  amt_sub amt_add amt_add amt_add  amt_sub amt_add
2021-08-31      10,000        0       0       0       0        0       0
2021-09-30           0        0       0       0       0        0       0
2021-10-31           0        0       0     400       0    3,632       0
2021-11-30           0        0       0       0       0    2,653       0
2021-12-31           0        0       0       0       0    2,668       0
2022-01-31           0        0       0       0       0    2,684       0
2022-02-28           0        0       0       0       0    2,699       0
2022-03-31           0        0       0       0       0    2,715       0
2022-04-30           0        0       0       0       0    2,731       0
2022-05-31           0    2,529       0       0       0      218       0
2022-06-30           0    2,759       0       0      11        0       0
2022-07-31           0    2,770       0       0      22        0       0
2022-08-31           0    2,782       0       0      34        0       0
2022-09-30           0    2,793       0       0      45        0       0
2022-10-31           0    2,805       0       0      57        0       0
2022-11-30           0    2,817       0       0      68        0       0
2022-12-31           0    2,828       0       0      80        0       0
2023-01-31           0    2,840       0       0      92        0       0
2023-02-28           0    2,852       0       0     104        0       0
2023-03-31           0    2,864       0       0     116        0       0
2023-04-30           0    2,876       0       0     128        0       0
2023-05-31           0      256       0       0     140        0       0
2023-06-30           0      257  34,030       0     141        0  20,000
2023-07-31           0        0       0       0       0        0       0
2023-08-31           0        0       0       0       0        0       0

           trb.fee  trb.IR cost_lnd cost_cstrn   oprtg
           amt_add amt_add  amt_add    amt_add amt_add amt_sub  bal_end
2021-08-31       0       0        0          0  10,000       0   10,000
2021-09-30       0       0        0          0       0       0   10,000
2021-10-31     600       0   10,000      2,632   3,632  13,632        0
2021-11-30       0      21        0      2,632   2,653   2,653        0
2021-12-31       0      37        0      2,632   2,668   2,668        0
2022-01-31       0      52        0      2,632   2,684   2,684        0
2022-02-28       0      68        0      2,632   2,699   2,699        0
2022-03-31       0      84        0      2,632   2,715   2,715        0
2022-04-30       0      99        0      2,632   2,731   2,731        0
2022-05-31       0     115        0      2,632   2,747   2,747        0
2022-06-30       0     117        0      2,632   2,759   2,759        0
2022-07-31       0     117        0      2,632   2,770   2,770        0
2022-08-31       0     117        0      2,632   2,782   2,782        0
2022-09-30       0     117        0      2,632   2,793   2,793        0
2022-10-31       0     117        0      2,632   2,805   2,805        0
2022-11-30       0     117        0      2,632   2,817   2,817        0
2022-12-31       0     117        0      2,632   2,828   2,828        0
2023-01-31       0     117        0      2,632   2,840   2,840        0
2023-02-28       0     117        0      2,632   2,852   2,852        0
2023-03-31       0     117        0      2,632   2,864   2,864        0
2023-04-30       0     117        0      2,632   2,876   2,876        0
2023-05-31       0     117        0          0     256     256        0
2023-06-30       0     117        0          0     257  54,287  -54,030
2023-07-31       0       0        0          0       0       0  -54,030
2023-08-31       0       0        0          0       0       0  -54,030